@import "variables";
@import "mixins";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url('../img/top-bg.jpg') no-repeat top center;
  background-size: cover;
  text-align: center;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}

.header-title {
  font-size: 44pt;
  font-weight: 100;
  letter-spacing: 2.7pt;
  word-spacing: -2.2pt;
  line-height: 76px;
  @include md {
    font-size: 30pt;
    line-height: 40px;
  }
  @include sm {
    font-size: 26px;
    line-height: 30px;
  }
  @include xs {
    font-size: 26px;
    line-height: 30px;
  }
}

.header-play-wrapper {
  text-align: center;
  padding-top: 40px;
}

.header-play {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: #8286a4;
  @include sm {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  @include xs {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}

.header-play-inner {
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  left: 1px;
}

.header-try {
  @include red-btn;
  width: 16.97%;
  margin-top: 41px;
  display: inline-block;
  @include sm {
    width: 20%;
  }
  @include xs {
    width: 30%;
  }
}

.header-try:hover {
  text-decoration: underline;
}

.header-note {
  padding-top: 16px;
  font-size: 13px;
  letter-spacing: 0.7pt;
}