$grid-columns: 12;
$grid-max-width: 70em;

$breakpoint-small: "only screen and (min-width: 480px)";
$breakpoint-medium: "only screen and (min-width: 780px)";
$breakpoint-large: "only screen and (min-width: 1200px)";

$sm: 480px;
$md: 780px;
$lg: 1200px;

$text-color: #282828;
$title-color: #ff6d6d;
$lightest: #ffffff;
$text-gray: #c6c7c7;
$form-bg: #323969;
$form-color: #f6f5f3;